@font-face {
    font-family: calibri;
    src: url(fonts/Calibri.ttf);
}

.caps{
    font-variant: small-caps;
}

.move{
    padding-left: 15px;
}

.btn-circle {
    border-radius: 24px;
    background: #C1272D;
}

.vertical-line{
    margin-top: 15px;
    height:465px;
    width:1px;
    background: #C1272D;
}

hr {
    width: 30%;
    border-top: 1px solid #C1272D;
    margin-top: -10px;
}

.up{
    margin-top: -5px;
}
